@charset "UTF-8";

/*
    em HTML ID = #
    em HTML class = .
*/

body{
    background-color: rgb(206, 253, 129);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(21, 255, 0);
}
h1#principal {
    text-align: center;
    color: black;
    background-color: white;
}

h2{
    color: rgb(86, 226, 86);
}

.basico{
    color: yellow;
}
.intermediario{
    color: blue;
}

.avançado{
    color: red;
}